	<style>
		.default { font-family: Arial, Helvetica, sans-serif; font-size: 14px;}
	</style>
			<table class="default" style="border:1px solid black; text-align:center;">
				<tr><th colspan=8 style="background:violet;">Project</b></th></tr>
				<tr>
				<th>Project Id</th>
				<th>Seller</th>
				<th>Description</th>
				<th>Deadline</th>
				<th>Starting Amount</th>
				<th>Billing Type</th>
				<th>Status</th>
				<th>Lowest Bid</th>
				<th>Buyer Name</th>
				</tr>
				<tr/>
				<tr style="background:lightgrey;">
				<td>{{project.projectId}}</td>
				<td>{{project.sellerName}}</td>
				<td>{{project.description}}</td>
				<td>{{project.deadline}}</td>
				<td>{{project.startingAmount}}</td>
				<td>{{project.billingType}}</td>
				<td>{{project.status}}</td>
				<td>{{project.lowestBid}}</td>
				<td>{{project.lowestBidUsername}}</td>
				</tr>
			</table>
			<br>
			<table class="default" style="border:1px solid black; text-align:center;">
				<tr><th colspan=6 style="background:orange;">Bids</b></th></tr>
				<tr>
				<th>Bidder</th>
				<th>Amount</th>
				<th>Date/Time</th>
				<tr/>
				<tr style="background:lightgrey;" ng-repeat="b in bids">
				<td>{{b.buyerName}}</td>
				<td>{{b.amount}}</td>
				<td>{{b.bidDateTime}}</td>
				</tr>
			</table>
			<br>
			Enter bid amount: $ <input type=text ng-model="bidAmount" maxlength=6 size=6></input>
			&nbsp;&nbsp;<button ng-click="createBid()">Bid Now</button>			
		</div>
